.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 29, 29, 0.6);
  z-index: 1000;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

  width: 680px;
  height: 90%;
  background-color: white;
  border-radius: var(--main-border-radius);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  min-height: 200px;
  width: 300px;
}

.formFieldsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  box-sizing: border-box;

  width: 50%;
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid var(--secondary-dark);
  border-radius: var(--secondary-border-radius);
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.formBtn {
  padding: 4px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--main-light);

  font-family: inherit;
  font-size: 16px;
  transition: var(--basic-transition);
  box-shadow: var(--btn-shadow);

  &:hover {
    background-color: var(--hover-color);
    box-shadow: var(--btn-shadow-hover);
    cursor: pointer;
  }
}

.cancelBtn {
  background-color: var(--accent-red);
}

.errorMessage {
  color: var(--accent-color);
  font-size: 16px;
}
